<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      [routerLink]="['/navigator']"
      [queryParams]="{ tab: 0 }"
      [routerLinkActive]="['active']"
      class="nav-link"
      >All</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/navigator']"
      [queryParams]="{ tab: 1 }"
      [routerLinkActive]="['active']"
      >Income</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/navigator']"
      [queryParams]="{ tab: 2 }"
      [routerLinkActive]="['active']"
      >Outcome</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/navigator']"
      [queryParams]="{ tab: 3 }"
      [routerLinkActive]="['active']"
      >Loans</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLink]="['/navigator']"
      [queryParams]="{ tab: 4 }"
      [routerLinkActive]="['active']"
      >Investments</a
    >
  </li>
</ul>
<sft-transaction-table [items]="transactions"></sft-transaction-table>
