<div class="card text-center mb-4">
  <div class="card-body">
    <h5 class="card-title">Welcome to Transactions Center!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">See all transactions</a>
  </div>
  <div class="card-footer text-muted">You have N transactions</div>
</div>
<div class="row justify-content-between flex-wrap">
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">N</h5>
        <p class="card-text">Incomes</p>
        <a href="#" class="btn btn-primary">See transactions</a>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">N</h5>
        <p class="card-text">Outcomes</p>
        <a href="#" class="btn btn-primary">See transactions</a>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">N</h5>
        <p class="card-text">Loans</p>
        <a href="#" class="btn btn-primary">See transactions</a>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">N</h5>
        <p class="card-text">Investments</p>
        <a href="#" class="btn btn-primary">See transactions</a>
      </div>
    </div>
  </div>
</div>
