<div class="card text-center mb-4">
  <div class="card-body">
    <h5 class="card-title">Welcome to Transactions Center!</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a [routerLink]="['/navigator']" class="btn btn-primary">See all transactions</a>
  </div>
  <div class="card-footer text-muted">You have {{ allTransactions }} transactions</div>
</div>
<div class="row justify-content-between flex-wrap">
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ incomeTransactions }}</h5>
        <p class="card-text">Incomes</p>
        <a [routerLink]="['/navigator']" [queryParams]="{ tab: 1 }" class="btn btn-primary"
          >See transactions</a
        >
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ outcomeTransactions }}</h5>
        <p class="card-text">Outcomes</p>
        <a [routerLink]="['/navigator']" [queryParams]="{ tab: 2 }" class="btn btn-primary"
          >See transactions</a
        >
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ loanTransactions }}</h5>
        <p class="card-text">Loans</p>
        <a [routerLink]="['/navigator']" [queryParams]="{ tab: 3 }" class="btn btn-primary"
          >See transactions</a
        >
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ investmentTransactions }}</h5>
        <p class="card-text">Investments</p>
        <a [routerLink]="['/navigator']" [queryParams]="{ tab: 4 }" class="btn btn-primary"
          >See transactions</a
        >
      </div>
    </div>
  </div>
</div>
